@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f9fafb;
  color: #1f2937;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: #0b1120;
  color: #f9fafc;
}
